*{
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20%;
    border-bottom: 2px solid rgba(219, 219, 219, 1);
}

header .logo{
    height: 29px;
}

header .logo img{
    height: 100%;
    object-fit: contain;
}

header .search{
    width: 250px;
    background-color: rgba(239, 239, 239, 1);
    padding: 3px 17px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    
}

header .search input{
    font-size: 17px;
    height: 30px;
    padding: 0 10px 0;
    background-color: rgba(239, 239, 239, 1);
    border: 0;
    outline: 0;
}

header navbar ul{
    list-style: none;
    display: flex;
}

header navbar ul li {
    margin-right: 20px;
}
header navbar ul li:last-child{
    margin-right: 0;
}
#profile{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

header navbar ul li a i {
    font-size: 22px;
    color: rgba(32, 32, 32, 1);
}